@page "/"
<h1>Blazor WebAssembly 天気予報アプリへようこそ</h1>

<hr />

<h2>このアプリについて</h2>
<p>
    このアプリは、Blazor WebAssembly技術を用いて、C#により開発されています。<br />
    アプリケーションのコードは、WebAssembly形式で記述された.NET 5ランタイムにより、すべてクライアント側で実行されます。<br />
    開発者は、javascriptの代わりにC#を用いて、モダンなWebアプリケーションをPWAまたはWebページとして作成できます。<br />
    開発者はまた、C#のほぼすべての機能を利用できます。ファイルやネットワークのIO、OS依存機能への制約はありますが、既存のプログラム資産を活用できます。
</p>

<h2>天気予報</h2>
<p>
    天気予報APIを用いて天気予報を表示するデモです。同一オリジンポリシーの制約は受けますが、外部とのHTTPを介したデータのやり取りが可能であることがご覧いただけます。
</p>
